body {
  width: 40em;
  margin: 1in auto;
}

h1 {
  font-family: 'Trebuchet MS';
}

p {
  font-size: 18px;
  font-family: 'Trebuchet MS';
}

canvas {
  border: 1px solid black;
}

#mona-lisa {
  display: none;
}